@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Lilita+One&family=Outfit:wght@100..900&family=Play:wght@400;700&display=swap');

.join-sect {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 13;
    top: -775px;   
    left: 200px;
}

.join-hunt {
    width: 250px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 231, 58); /* Initial text color */
    cursor: pointer;
    
    font-size: larger;
    font-weight: bold;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    transition: color 0.4s linear;
}

.join-hunt::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    color: black;
    background: rgb(0, 231, 58);
    transition: left 0.4s ease-in-out;
    z-index: 0;
    
}

.join-hunt:hover::after {
    left: 0;
}

.join-hunt span:hover {
    color: black; /* Change text color on hover */
}

.join-hunt span {
    position: relative;
    z-index: 1; /* Ensure text is above the background */
    transition: color 0.4s linear; /* Smooth transition for text color */
    font-family: "Play", sans-serif;

}

h2 {
    color: white;
    font-family: "Play", sans-serif;
}

h2 span {
    color: rgb(0, 231, 58);
}

h4 {
    color: rgb(255, 0, 0);
    font-family: "Play", sans-serif;
}
.span2{
    color:rgb(4, 255, 0);
    font-weight: lighter;
    
}
.span3{
    color: rgb(0, 255, 17);
    font-weight: lighter;
}